body{
    background-color: #fef6e4 ;
}
.bg-primaery
{

}
.bg-secondary
{

}
.text-centre
{
    text-align: center;
    margin: 20px;
    
}
.primary-colour 
{
    color: #001858;
}
.btn
{
    width: 120px;
    height: 33px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    padding-bottom: 20px;
    font-size: 16px;
    color:#001858 ;

}
.btn-primary
{
    background-color:#f582ae ;
    
}
.no-underline
{
    text-decoration: none;
}
.card
{
    background-color: #fef6e4;
    height: 420px;
    width: 290px;
    border: solid 1.5px black;
    text-align: center;
    box-shadow: 2px 5px 10px 5px #b3b3b3 ;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex-direction: row;

}
.img
{
    height: 220px;
    width: 220px;
    margin-top: 20px;
    border: black 1px solid;
    border-radius: 1opx;
}
.card-text
{
    margin: 20px;
    color:#172c66 ;
}
.card-dir
{
    
    display: flex;
    flex-direction: row;
    text-align: start;
    margin-top: 70px;
    justify-self: start;
    
    justify-content: space-around;
    
}

.instraction
{
    
    position: relative;
    left: 30px;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #f582ae;
}
.btn-primary{

background-color:#f582ae   ;
    margin-bottom: 1px;
}
.barpng{
   margin: 5px 40px;
   height: 60px;

}
.nav-ele{
  margin: 20px 30px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 80px;
  margin-bottom:10px;
}
.input
{
    padding: 15px;
    margin: 8px;
    margin-left: 200px;
}
.login
{
    margin-left: 70px;
    background-color:blue;
    color: white;
    padding-bottom: 10px;
    border-radius: 10px;
}